# VALUES

In [ ]:
#updared git test

1.INT
   .Numerical values with no decimal
   .can be either negative or positive or zero

In [1]:
type(99)

int

In [2]:
type(0)

int

In [3]:
type(subha)

NameError: name 'subha' is not defined

2.FLOAT
   A numerical valve with decimal

In [4]:
type(99.0)

float

In [5]:
type(99.0.2.1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4110007752.py, line 1)

In [6]:
type("99.0.2.1")     #if morethan one decimal value is there it is consider as "txt"

str

In [7]:
99.0.2.1

SyntaxError: invalid syntax (2435149043.py, line 1)

In [8]:
"99.0.2.1"

'99.0.2.1'

3.STRING
   A combination of characters(letters,number,specialcharacter)
    each one is called as character
    Ex:"srk"-> s,r,k are 3 characters

In [9]:
"srk"

'srk'

In [10]:
"s1"

's1'

In [11]:
"2..."

'2...'

In [12]:
".,|"

'.,|'

In [13]:
"123"

'123'

In [14]:
type("123")      #anything with in inverted commas is a string

str

In [15]:
type(123)

int

# TYPE CASTING
   Converting the value from one datatype to another datatype

In [17]:
int("123")

123

In [18]:
int("132s")

ValueError: invalid literal for int() with base 10: '132s'

In [19]:
int(123.0)

123

In [20]:
int(123.99999)

123

In [21]:
int(subha)

NameError: name 'subha' is not defined

In [22]:
int("subha")

ValueError: invalid literal for int() with base 10: 'subha'

THE STRING CAN BE CONVERTED INTO INT, IF THE STRING CONSISTS OF ONLY NUMERIC

In [23]:
float(123)

123.0

In [24]:
float("123")

123.0

In [25]:
float("123.23")

123.23

In [26]:
int("123.23")

ValueError: invalid literal for int() with base 10: '123.23'

In [27]:
float("123s")

ValueError: could not convert string to float: '123s'

In [28]:
str(123)

'123'

In [29]:
str(123.0)

'123.0'

4.BOOL
   BOOLEAN DATATYPE(True/False)

In [30]:
type(true)

NameError: name 'true' is not defined

In [31]:
type(True)

bool

In [33]:
type(False)

bool

In [34]:
int(True)

1

In [35]:
float(False)

0.0

In [37]:
bool(123)

True

In [38]:
bool(0)

False

In [39]:
float(True)

1.0

In [40]:
bool(1.1)

True

In [41]:
bool(-0.00001)

True

In [42]:
type(22.6)

float

# print(output of python)

type()------>used to check datatype
id()-------->to check address
print()----->print the values

print single value

In [43]:
print(12)
print("srk")

12
srk

print multiple values
    print(v1,v2,v3.....vn)

In [44]:
print(12,22)

12 22

In [45]:
print("srk",10,11,ds)

NameError: name 'ds' is not defined

In [46]:
print("srk",10,11,"ds")

srk 10 11 ds

print single variable

In [47]:
a=99
print(a)

99

print multiple variables
print(v1,v2,v3,....vn)

In [48]:
a,b=90,25
print(a,b)

90 25

print combination of value and variable

In [49]:
z=144
print("the value of z:",a)

the value of z: 90

In [50]:
a=10
print(20,a,a,1,"srk",a)

20 10 10 1 srk 10

# INPUT
 ASK THE USER TO ENTER THE VALUE

In [51]:
input()

6

'6'

In [52]:
ad=input()

89

In [53]:
print(ad)

89

In [54]:
s=input()

65

In [55]:
s=input("enter your age:")

enter your age:100

In [56]:
s=input("enter your any one option of either a or b:")

enter your any one option of either a or b:b

# simple Model

In [57]:
s=int(input("enter your age:"))
print(s)
type(s)

enter your age:100
100

int

In [58]:
s=input("enter your age:")
print(s)
type(s)

enter your age:56
56

str

# OPERATORS
    THEY ARE SOME SPECIAL CHARACTERS OR RESERVE WORDS USED TO PERFORM OPERATION
    1.ARITHMETIC OPERATORS
    2.ASSIGNMENT OPERATORS
    3.COMPARISION OPERATORS              #BITWISE OPERATOR IS THERE BUT IT IS NOT USE IN PYTHON
    4.LOGICAL OPERATORS
    5.IDENTITY OPERATORS
    6.MEMBERSHIP OPERATORS

1.ARITHMETIC OPERATORS
     OPERATORS WHICH ARE USED FOR MATHEMATICAL OPERATION
     +,-,*,/,%,//,%,**,() are arithmetic operators

In [59]:
print(10+4)

14

In [60]:
10-4

6

In [61]:
print(10-4)

6

In [62]:
print(10*4)

40

In [63]:
10*4

40

In [64]:
10+4
10-4       # in jupyter notebook what ever in the lastline ,it will be printed
10*4

40

In [65]:
print(10+4)
print(10-4)    #if we want 3 outputs we have to write print statement
print(10*4)

14
6
40

### TRUE DIVISION:
   WHENEVER YOU ARE USING DIVISION SYMBOL,THE OUTPUT WILL GIVE IN FLOAT VALUE

In [66]:
10/5

2.0

In [67]:
10/3

3.3333333333333335

### FLOOR DIVISION:
   HERE THE OUTPUT IS QUOTIENT VALUE

In [10]:
10//4

2

In [11]:
10//3

3

### MODULO DIVISION:
   HERE THE OUTPUT IS THE REMAINDER VALUE

In [68]:
10%5

0

In [69]:
10%3

1

In [70]:
#EXPONENT
10**4

10000

In [73]:
#PARENTHESIS
#()               #FIRST IT WILLDO IN PARENTESIS AND THEN MULTIPLICATION
(2+3)*5

25

2.ASSIGNMENT OPERATORS
      (EQUAL TO) = IS THE ASSIGNMENT OPERATOR

In [74]:
x=5
print(x)

5

In [75]:
x=5
x=x+10
print(x)

15

In [76]:
x=5
x=x+10
x

15

In [77]:
x=5
x+=10
x

15

In [78]:
x=10
x=x-10
x

0

In [79]:
x=10
x-=10
x

0

In [80]:
x=20
x=x*2
x

40

In [81]:
x=20
x*=2
x

40

In [82]:
x=10
x=x/5
x

2.0

In [83]:
x=10
x/=5
x

2.0

In [84]:
x=10
x=x//5
x

2

In [85]:
x=10
x//=5
x

2

In [86]:
x=10
x=x%5
x

0

In [87]:
x=10
x%=5
x

0

In [88]:
x=10
x=x**10
x

10000000000

In [89]:
x=10
x**=10
x

10000000000

### 3.COMPARISION OPERATORS:
    USED TO COMPARE BETWEEN THE VALUES
    OUTPUT WILL BE ALWAYS BOOLEAN(TRUE/FALSE)
    ==.!=,>,<,>=,<= are comparision operators

In [90]:
5==5

True

In [91]:
5>3

True

In [92]:
5<3

False

In [93]:
5>=3

True

In [94]:
5<=3

False

In [95]:
3==3

True

In [96]:
3>=3

True

In [97]:
3<=3

True

In [98]:
"SRK"=="srk"

False

In [99]:
"srk"!="srk"

False

In [100]:
"srk"!="SRK"

True

### 4.LOGICAL OPERATORS OR BOOLEAN OPERATORS:

    OUTPUT IS BOOLEAN TO CHECK MULTIPLE CONDITIONS
    C1 AND C2                            C1 OR C2
    T AND T--->TRUE                       T OR T--->TRUE
    T AND F--->FALSE                      T OR F--->TRUE
    F AND T--->FALSE                      F OR T--->TRUE
    F AND F--->FALSE                      F OR F--->FALSE

In [101]:
5>3 and 6>3 or 6<3

True

In [102]:
5>3 or 5<3

True

In [103]:
not False

True

In [104]:
False or not False and True

True

### 5.IDENTITY OPERATORS:

    IN PYTHON,OBJECTS ARE CREATED ON VALUES,NOT BASED ON NAME
    IDENTITY OPERATORS ARE USED TO CHECK IF TWO VALUES(OR VARIABLES) ARE INDICATING THE SAME OBJECT OR NOT
    IT RETURNS OUTPUT AS BOOLEAN
    IS,ISNOT ARE IDENTITY OPERATORS IN PYTHON
    IS OPERATOR(IS --> TRUE IF OPERANDS ARE IDENTICAL)
    IS NOT OPERATOR(IS NOT-->IS TRUE IF THE OPERANDS ARE NOT IDENTICAL)

In [105]:
a=5
b=5
print(a is b)

True

In [106]:
a=6
b=8
a is not b

True

In [107]:
s1="subha"
s2="Subha"
s1 is s2

False

### 6.MEMBERSHIP OPERATORS :

 MEMBERSHIP OPERATORS ARE USED TO TEST WHETHER A VALUE OR VARIABLE IS FOUND IN A SEQUENCE(STRING,LIST,TUPLE,SET,DICTIONARY)
    IT RETURNS OUTPUT AS BOOLEAN
    IN NOT IN ARE MEMBERSHIP OPERATORS

In [108]:
a='venkatesh'
'esh'in a

True

In [109]:
a='venkatesh'
'ESH'in a

False

In [110]:
a=[1,2,3,4]
1 in a

True

In [111]:
a=[1,2,3,4]
9 in a

False

In [112]:
a=[1,2,3,4]
9 not in a

True

# NOTE:
     ARITHMETIC OPERATORS AND ASSIGNMENT OPERATORS RETURN THE VALUE,REMAINING ALL OPERATORS RETURN BOOLEAN VALUE

IN A PROGRAM,ALL THE OPERATORS ARE THERE_______

THE ORDER WE HAVE TO FOLLOW IS_______ 1.ARITHMETIC OPERATORS

                                      2.COMPARISION OPERATORS
                                      
                                      3.MEMBERSHIP OPERATORS
                                      
                                      4.IDENTITY OPERATORS
                                      
                                      5.LOGICAL OPERATORS
                                      
                                      6.ASSIGNMENT OPERATOR
                                      
                                      
        ONCE ALL THE RIGHTSIDE PART IS DONE AFTER THAT ASSIGNMENT OPERATOR IS DONE (THAT IS LAST)

# CONDITIONAL STATEMENTS(CONTROL FLOW STATEMENTS) IN PYTHON
     if
     if-else
     if-elif
     if-elif-else
     nested if

# if:
    THE PROGRAM EVALUATES THE TEST EXPRESSION AND WILL EXECUTE STATEMENTS ONLY IF THE TEXT EXPRESSION IS 'TRUE'
    IF THE TEXT EXPRESSION IS 'FALSE',THE STATEMENT IS NOT EXECUTED

In [113]:
if 1<2:
    print("ds")

ds

In [114]:
if 11==11:
    print("subhashini")

subhashini

In [115]:
if 11==11:
    print("abc")               # if the condition is true,all the prints statements are executed
    print("123")
    print("xyz")

abc
123
xyz

In [116]:
if 1>2:
    print("hi")            #output is noting since the condition is false
    print(200)
    print("abc")

In [117]:
if 1<2:
    a=int(input("enter your age:"))
    print(a)

enter your age:100
100

In [118]:
if 1>2:
    print("hi")         # if condition is false,so print statement is executed
print("subha")

subha

# if-else:
    if condition:
        -----
        -----         if condition is true,execute if block and ignore else block
        -----
    else:
        -----         if condition is false,ignore if block and execute else block
        -----

In [119]:
if 1<2:
    print("first")
else:
    print("last")
print("ds")

first
ds

In [120]:
a,b,c,d=2,2,3,4
if(a==b or c==d):
    print("abd")
else:
    print("def")

abd

TAKE A NUMBER IN VARIABLE 'X' AND PRINT "EVEN"IF THE NUMBER IS DIVISIBLE BY 2,OTHERWISE PRINT "ODD"

In [152]:
x = eval(input("enter the number"))
if x%2==0:
    print(x,"is even number")
else:
    print(x,"is odd numbeber")

enter the number45
45 is odd numbeber

# elif

In [122]:
if 2!=2:
    a=int(input("enter a number"))
    print(a)
elif 1>2:
        print("middle")
elif 1<2:
            print(3)
else:
    print("last")

3

# WRITE A PROGRAM TO FIND LARGEST OF GIVEN 2 NUMBERS FROM THE INPUT CONSOLE

In [123]:
x=eval(input("enter the first number"))
y=eval(input("enter the second number"))
if x>y:
    print(x,"is largest")
elif x<y:
        print(y,"is largest")
elif x==y:
        print("both are same")

enter the first number45
enter the second number90
90 is largest

# Take a variable Y and print "GRADE A" if Y>90,"GRADE B" if Y>70 but lessthan or equal to 70 "grade F"

In [124]:
y=int(input("enter the marks:"))
if y>90:
    print("GRADE A")
elif y>70:
    print("GRADE B")
else:
    print("GRADE F")

enter the marks:92
GRADE A

# NESTED IF
 WE CAN HAVE A if_elif_else statement inside another if_elif_else statement.THIS IS CALLED NESTING IN COMPUTER PROGRAMMING

In [125]:
num=155
if num>=0:
    if num==0:
        print("zero")
    else:
        print("positive number")
else:
    print("negative number")

positive number

# BANK TRANSCATION USING CONDITIONAL STATEMENTS

In [126]:
amount = 20000
pin = 123
if(int(input("enter your pin"))==pin):
    with_draw=int(input("with draw amount:"))
    if(with_draw<=amount):
        print(with_draw,"successfully transcation completed")
    else:
        print(with_draw,"no sufficient funds in your account")
else:
    print("invalid pin number")

enter your pin123
with draw amount:8900
8900 successfully transcation completed

# FUNDAMENTAL DATATYPES
     INTEGER      FLOAT     BOOLEAN     STRING
       42         42.0       TRUE        "HELLO"

 # 1.INTEGER
         NUMERICAL VALUE WITH NO DECIMAL
         CAN BE NEITHER NEGATIVE OR POSITIVE OR ZERO

In [127]:
a=10
print(a)

10

In [128]:
type(a)

int

# 2.FLOAT
        A NUMERICAL VALUE WITH DECIMAL

In [129]:
b=3.0
print(b)

3.0

In [130]:
type(b)

float

# 3. BOOLEAN
          BOOL(True/False)

In [131]:
b1=True
type(b1)

bool

In [132]:
type(False)

bool

# 4.STRING
       A COMBINATION OF SEQUENCE OF CHARACTERS(LETTERS,NUMBERS,SPECIAL CHARACTERS)
       WE CAN USE SINGLE QUOTES OR DOUBLE QUOTES TO REPRESENT STRINGS
        IN STRING,EACH ONE IS CALLED AS CHARACTER
        EX:"SRK","S","R","K" ARE CHARACTERS

In [133]:
a='siva'
print(a)
type(a)

siva

str

In [134]:
mystring1='HELLO'
print(mystring1)
mystring2="hello"
print(mystring2)

HELLO
hello

# Multiline Strings can be denoted using triple quotes ''' ''' or """ """

In [135]:
name='''data
science'''
print(name)

data
science

In [136]:
var1=123
type(var1)

int

In [137]:
var2="123"       #whatever in quotes it treats as a string
type(var2)

str

 # STRING SUBSTITUTIONS
         {}.format
                to fill the curly braces

In [138]:
'raining {} and {}'.format(' ',' ')

'raining   and  '

In [139]:
'raining {} and {}'.format('cats','cats')

'raining cats and cats'

In [140]:
'raining {a} and {b}'.format(a='cats')

KeyError: 'b'

In [141]:
'raining {a} and {b}'.format(a='cats',b='dogs')

'raining cats and dogs'

In [142]:
a=10
print("the value of a:",a)

the value of a: 10

In [143]:
num=12
name='subha'
print("mynumber is:",num,"my name is:",name)

mynumber is: 12 my name is: subha

above code can be write using .format

In [144]:
num=12
name='subha'
print("my number is:{} and my name is:{}".format(num,name))

my number is:12 and my name is:subha

Another format of .format is f

In [145]:
print(f"my number is:{num} and my name is:{name}")

my number is:12 and my name is:subha

# USING NAMING ARGUMENTS

In [146]:
'raining {arg1} and {arg2}'.format(arg1='cats',arg2='dogs')

'raining cats and dogs'

# using 2 decimal places

In [147]:
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

# f-string

In [148]:
name="subha"
print("hello,my name is {name}")

hello,my name is {name}

# if want to get the 'name',we have to add 'f'

In [149]:
name="subha"
print(f"hello, my name is {name}")

hello, my name is subha

In [150]:
name="subha"
id=1234
print(f"my name is {name} and id is {id}")

my name is subha and id is 1234

In [151]:
value=33.139
f"the value is{value:.2f}"

'the value is33.14'

### FUNCTIONS
        print()---------->used to print
         id()------------>used to give object reference or address
        input()---------->collect the information from the user
        type()----------->used to type the value or variable

###  METHODS
        .format --------->to fill the curly braces with values

LENGTH OF STRING:

       length is also one of the function which gives number of characters in string

In [154]:
string="hello"
len(string)

5

In [155]:
string="hello{}"
len(string)

7

In [156]:
string="hello {}"
len(string)

8

In [157]:
a=123
len(a)         #len() is not applicable for int,float bool and applicable for string

TypeError: object of type 'int' has no len()

In [158]:
a=123
b=str(a)
len(str(a))

3

In [159]:
a=123
len(str(a))

3

# STRING CONCATENATION
          JOINING OF TWO OR MORE STRINGS INTO A SINGLE ONE IS CALLED CONCATENATION
          THE + OPERATOR DOES THIS IN PYTHON.SIMPLY WRITING TWO STRING LITERALS TOGETHER ALSO CONCATENATES THEM
    NOTE:  TO USE + OPERATOR FOR STRINGS,COMPULSORY BOTH SHOULD BE STRING TYPE ONLY

In [160]:
"HELLO"+"WORLD"

'HELLOWORLD'

In [161]:
'HELLO'+" "+"WORLD"

'HELLO WORLD'

In [162]:
"AI"*5

'AIAIAIAIAI'

In [163]:
"SIVA"+2

TypeError: can only concatenate str (not "int") to str

In [164]:
# IN THE ABOVE ONE 2 HAS TO BE CONVERTES INTO STRING.IT IS DONE IN BY TWO WAYS
"SIVA"+"2"

'SIVA2'

In [165]:
'siva'+str(2)

'siva2'

# difference between function and method
         # function                                                 # method
     ---it is applicable irrespective of                            ---- it is fixed for a particular
        datatype     print()                                               particular datatype
                     id()                                            ----it can't be applicable for other datatype
                     input()                                              ex:  a='SUBHA'
                     type()                                                     A=UPPER()
                                                                                'SUBHA'

# STR.UPPER()
        RETURNS A COPY OF STRING WITH ALL CHARACTERS IN UPPERCASE

In [166]:
s="hello world"
s.upper()

'HELLO WORLD'

# STR.LOWER()
      RETURNS A COPY OF STRING WITH ALL CHARACTERS IN LOWERCASE

In [167]:
s="HELLOWORLD"
s.lower()

'helloworld'

# str.swapcase()
      return a copy of string with all uppercase characters converted to lowercase and viceversa

In [168]:
s="helloworld"
s.swapcase()

'HELLOWORLD'

In [169]:
s="HELLOWORLD"
s.swapcase()

'helloworld'

# str.capitalize()
      return a copy of string with first letter capatilized and remaining all to lowercase

In [170]:
s = 'helloworld'
s.capitalize()

'Helloworld'

# str.title()
      returns a copy of string with each word capatilized

In [171]:
s='gooD mornINg'
s.title()

'Good Morning'

# str.strip()
      returns a copy of the string with leading(starting) and trailing(ending) whitespace removed

In [172]:
s="python"
print(s.strip())

python

In [173]:
s= "python"
print(s.strip())
len(s.strip())

python

6

# str.lstrip()
     returns a copy of the string with leading white space removed

In [174]:
s="python"
print(s.lstrip())
len(s.lstrip())

python

6

In [175]:
s=  "python  "
print(s.lstrip())
len(s.lstrip())

python

8

# str.rstrip()
       returns a copy of the string with trailing whitespaces removed

In [176]:
s="    python     "
print(s.rstrip())
len(s.rstrip())

    python

10

# str.replace()
       returns a copy of the string with all the occurences of a specialized substring replced with another substring

In [177]:
s="good morning"
print(s)
s=s.replace("good","bad")
print(s)

good morning
bad morning

# str.split()
        splits the string into list of substrings based on the specified delimiter
        if no delimiter is specified,then whitespace is selected as default delimiter

In [178]:
st='my name, is, SUBHASHINI'
st.split()

['my', 'name,', 'is,', 'SUBHASHINI']

# str.join()
      join a list of strings into a single string,using a specified delimiter
  syntax is 'delimiter'.join()

In [179]:
s=['my','name','is','SUBHA']
'    '.join(s)

'my    name    is    SUBHA'

In [180]:
"::@::".join(["siva","ds"])

'siva::@::ds'

### WHETHER STRINGS ARE MUTABLE OR IMMUTABLE?
   MUTABLE
    
####  DIFFERENCE BETWEEN MUTABLE AND IMMUTABLE?

  MUTABLE MEANS MODIFICATIONS CAN BE DONE WITH IN SAME OBJECT AND 
  
    IMMUTABLE MEANS WHERE MODIFICATIONS CANT BE DONE IN SAME OBJECT

In [181]:
s="GOOD MORNING"
print(s)
print(id(s))
s=s.replace("GOOD","BAD")
print(s)
print (id(s))

GOOD MORNING

TypeError: 'int' object is not callable

# str.index()
      INDEX ERROR means that particular index is not available
      INDEXING means extracting single data
      SLICING means extracting multiple datapoints
      SLICING SYNTAX IS    var_name[start indexno:end indexno:step]

In [182]:
mystring="hello"
mystring[0:3:1]

'hel'

In [183]:
mystring="hello"
mystring[1:5:2]

'el'

In [184]:
mystring="hello"
mystring[1:5:1]

'ello'

In [185]:
mystring='hello'       # IT GIVES EMPTY STRING,SLICING NEVER GIVES ERROR
mystring[1:5:-1]

''

In [186]:
mystring='hello'
mystring[3:5:-1]

''

In [187]:
mystring='hello'
mystring[4:2:-1]

'ol'

In [188]:
mystring='hello'
mystring[4:-4:-1]

'oll'

In [189]:
mystring='hello'               # here 10 is out of range
mystring[10:4:-1]

''

In [190]:
mystring='hello'            # if we dont write secon colon it automatically takes step as +1
mystring[0:4]

'hell'

In [191]:
mystring='hello'     
mystring[4:+1]

''

In [192]:
mystring='hello'         #if we dont write starting position it automatically takes zero position
mystring[  :4]

'hell'

In [193]:
mystring='hello'       # if we dont end position it will take everything
mystring[1:]

'ello'

In [194]:
mystring='hello'
mystring[ : :+2]

'hlo'

In [195]:
mystring='hello'
mystring[ : :-1]

'olleh'

In [196]:
mystring='hello'
mystring[0:3]

'hel'

In [197]:
mystring='hello'
mystring[2:45]

'llo'

In [198]:
mystring="hello"
mystring[:4]

'hell'

In [199]:
mystring="hello"
mystring[2:]

'llo'

In [200]:
mystring='hello'
mystring[: :2]

'hlo'

In [201]:
mystring='hello'
mystring[4:0:-1]

'olle'

In [202]:
mystring='hello'
mystring[4:0:1]

''

 print in reverse order

In [203]:
mystring='hello'
mystring[: :-1]

'olleh'

In [204]:
mystring="hello"     # strings are immutable,this means that elements of a string cannot be changed once it is assigned
mystring[4]='s'

TypeError: 'str' object does not support item assignment

In [205]:
l=[10,20,30,40,80]    # here l[4] is changed to 1000, 
l[4]=1000
print(l)

[10, 20, 30, 40, 1000]

# str.index()
      returns the index of the first occurance of the string searched for (raises value error if not found)

In [206]:
s="python is very eeasy"
print(s.index("very"))

10

# str.rindex()
      returns the index of the last occurance of the string searched for(raises value error if not found)

In [207]:
s="python is very very easy"
print(s.rindex("very"))

15

# str.find()
    returns the index of first occurance of the substring in a string 
    returns -1, if the substring is not found

In [208]:
s="python is very easy"
print(s.find("e"))
print(s.find("b"))

11
-1

 in above s.index('b') gives value error and s.find('b') gives -1
  s.index('e') and s.find('e') are same

# str.rfind()
     returns the index of the last occurance of the substring is a string
     returns -1 if the substring is not found

In [209]:
s="python is very easy"
print(s.rfind("e"))
print(s.rfind("b"))

15
-1

# str.count
       returns the number of no overlapping occurances of a substring in the searched string

In [210]:
s="good morning"
s.count("o")

3

In [211]:
s="good morning"
s.count("ooo")

0

In [212]:
s="good morning"
s.count("oo")

1

In [213]:
s="good morning"
print(s.count("goo"))
print(s.count("Goo"))
print(s.count("ood"))
print(s.count("OOD"))

1
0
1
0

# str.startswith()
     returns a boolean stating whether a string starts with specified prefix

In [214]:
my_str='siva123'
print(my_str.startswith('s'))

True

# str.endswith()
      returns a boolean stating whether a string ends with specified suffix

In [215]:
my_str='siva123'
print(my_str.endswith('s'))

False

# str.isalnum
       returns a boolean value whether a string contains only letters and digits

In [216]:
my_str="siva123"
print(my_str.isalnum())

True

In [217]:
my_str="siva@123"
print(my_str.isalnum())

False

# str.isalpha()
    returns a boolean stating whether a string contains only letters

In [218]:
my_str="subha123"
print(my_str.isalpha())

False

In [219]:
my_str="ravi"
print(my_str.isalpha())

True

# str.isdigit()
       returns a boolean stating whether a string contains only digits

In [220]:
my_str='123'
print(my_str.isdigit())

True

# str.islower()
     returns a boolean stating whether a string is in lowercase

In [221]:
my_str="subha123"
print(my_str.islower())

True

In [222]:
my_str="RAVI"
print(my_str.islower())

False

# str.isupper()
      returns a boolean stating whether a string is in uppercase

In [223]:
my_str="SUBHASHINI"
print(my_str.isupper())

True

In [224]:
my_str="subhashini"
print(my_str.isupper())

False

# str.isspace()
        returna a boolean whether a string contains only WHITESPACE characters

In [225]:
my_str="subha ravi"
print(my_str.isspace())

False

In [226]:
my_str="      3"
print(my_str.isspace())

False

In [227]:
my_str="   "
print(my_str.isspace())

True

# str.istitle()
     returns a boolean stating whether a string in "title" case

In [228]:
my_str="subha"
print(my_str.istitle())

False

In [229]:
my_str="Subha"
print(my_str.istitle())

True

# str.removeprefix()
         returns a string with the given prefix string removed if present

In [230]:
mystring="python"
mystring.removeprefix("py")

'thon'

# str.removesufix()
       returns a string with the given suffix string removed if present

In [231]:
mystring="python"
mystring.removesuffix("on")

'pyth'

###  ADVANCED DATATYPES:

                   LIST,TUPLE,SET,DICT
           
           datatypes is also called as data structures or containers(contain more values)

#### DIFFERENCE BETWEEN DATATYPE AND DATASTRUCTURE :

             FUNDAMENTAAL DATATYPE STORE ONE VALUE ONLY
             
             ADVANCED DATATYPE STORE MORETHAN ONE VALUE

# LIST

     list is an ordered sequence of items
     
     each element or value that is inside of a list is called an item
     
     Declaring a list is,items seperated by commas are enclosed with brackets[]

EMPTY LIST:

       EMPTY LIST can be created by 2 ways

In [232]:
emptylist=[]

In [233]:
emptylist=list()
print(emptylist)

[]

In [234]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [235]:
# All the items in a list donot need to br sametype(HETEROGENOUS)
l=[1,0.2,1+3j,True,'new']
l

[1, 0.2, (1+3j), True, 'new']

# length of list

In [236]:
my_list=[10,20.5,"hello"]
len(my_list)

3

# Nested list
      within list one of item is list

In [237]:
nest=[1,[3,4],3]
print(nest)
len(nest)

[1, [3, 4], 3]

3

# list indexing

In [238]:
nest[0]

1

In [239]:
nest[1]
print(nest[1])
len(nest[1])

[3, 4]

2

In [240]:
len(nest[0])    # for int,float,bool,function has no length

TypeError: object of type 'int' has no len()

In [241]:
len(str(nest[0]))

1

In [242]:
nest[1][0]

3

In [243]:
nest[2][0]       for int indexing is not possible,itgives type error 'int' object is not subscriptable

SyntaxError: invalid syntax (1784331582.py, line 1)

In [244]:
nest=[1,[3,4],"ds"]
nest[1][2]

IndexError: list index out of range

In [245]:
nest[1][1]

4

# list slicing

In [246]:
nest[1][2:]      # slicing  never gives error that is empty

[]

In [247]:
numbers=[10,20,30,40,50,60,70,80]
numbers[0:3]

[10, 20, 30]

    Lists are Mutable
          Mutable means value of elements of a list can be altered in the same object

In [248]:
a=[1,2,3]
print(a)
print("initial object reference:",id(a))
a[1]=20
print(a)
print("after replace,the object reference:",id(a))

[1, 2, 3]

TypeError: 'int' object is not callable

# List Concatenation

In [249]:
l1=["d","b","c"]
l2=['a',6,4.0]
l3=l2+l1
print(l3)
l4=l1+l2
print(l4)
l5=l1*2                  #l1*2 and l1+l1 are same
print(l5)
l6=l1+l1
print(l6)

['a', 6, 4.0, 'd', 'b', 'c']
['d', 'b', 'c', 'a', 6, 4.0]
['d', 'b', 'c', 'd', 'b', 'c']
['d', 'b', 'c', 'd', 'b', 'c']

# LIST METHODS

# list.append()
           used to add only 1 item at the end of list
           item can be either int,float,str,bool,list

In [250]:
lst=[1,2,3,4,5,6]
print(lst)#

[1, 2, 3, 4, 5, 6]

In [251]:
lst.append(7)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [252]:
lst.append([8,9])
print(lst)

[1, 2, 3, 4, 5, 6, 7, [8, 9]]

# if we want to add multiple items in the list -------list extend()

# list extend()
          used to add multiple items items in a list
          it adds each item individually at the end

In [253]:
lst=[1,2,3,4,5,6]
lst.extend([8,9])
print(lst)

[1, 2, 3, 4, 5, 6, 8, 9]

#  Difference between append() and extend() is-------
           extend adds the items seperately if we given in the list
           append add the items as asingle item in the list

In [254]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2       #concatenation
print(l3)

[1, 2, 3, 4, 5, 6]

In [255]:
l1=[1,2,3]
l2=[4,5,6]
l1.extend(l2)  #extend
print(l1)

[1, 2, 3, 4, 5, 6]

# Difference between extend() and concatenation() is-------------------
       hereboth the outputs are same,but in concatenation the final output is not store,
         but in extend the output is store in l1

# if l1=l1+l2 or l1'extend(l2)  are same?
         yes,since l1+l2 are store in l1 and l1.extend(l2) the value are store in l1

In [256]:
lst=[1,2,3,4,5,6]
lst.extend([1,[4,9],24,[9,90]])    # multiple list
print(lst)

[1, 2, 3, 4, 5, 6, 1, [4, 9], 24, [9, 90]]

In [257]:
l1=[1,2]
l2=[4,[5,6,[7,[8,9]],10],11]
l1.extend(l2)
print(l1)
print(len(l1))

[1, 2, 4, [5, 6, [7, [8, 9]], 10], 11]
5

In [258]:
l1=[1,2]
l2=[4,[5,6,[7,[8,9]],10],11]
l1.append(l2)
print(l1)

[1, 2, [4, [5, 6, [7, [8, 9]], 10], 11]]

# if we want to add in certain position -------list.insert() is used

# list.insert()
        used to insert a item in a specifix index position
        list.insert(x,y) will add element item 'y' at location index number 'x'
         
            list.insert (indexnumber,item)    # the item is add to index number

In [259]:
lst=[11,12,13,14]
lst.insert(3,10)
print(lst)

[11, 12, 13, 10, 14]

In [260]:
lst=[11,12,13,14]
lst.insert(2,[20.30])
print(lst)

[11, 12, [20.3], 13, 14]

# list.remove()
      used to remove an item based on value
      if value repeats,it removes the first one only

In [261]:
numbers=[10,20,30,40,10]
numbers.remove(10)
numbers

[20, 30, 40, 10]

In [262]:
numbers.remove(50)        #50 is not in the list
numbers

ValueError: list.remove(x): x not in list

# list.pop()
        used to remove an item based on a index number
        by default,it selects the index number= -1

In [263]:
numbers=[10,20,30,40,10]
numbers.pop(3)
numbers

[10, 20, 30, 10]

In [264]:
numbers.pop(0)
numbers

[20, 30, 10]

In [265]:
numbers.pop(5)
numbers

IndexError: pop index out of range

# list.clear()
      used to clear all items in a list and returns empty list

In [266]:
a=[1,2,3,4]
a.clear()
print(a)

[]

# del

In [267]:
a=[1,2,3,4]
del a
print(a)

NameError: name 'a' is not defined

####  What is the difference between del and list.clear

     del deletes the entire object whereas
     
      list.clear() deletes the entire value but remains object

In [268]:
numbers=[10,20,30,40]
del numbers[0:2]
numbers

[30, 40]

 number.remove(10)==> removes 10 (one number at a time)
 
   del numbers==>  deletes 2 numbers at a time

using slicing operation we can remove the numbers but they are to be in PATTERN

# list.reverse()
        used to reverse all items in list

In [269]:
l=[1,4,9,[4,6]]
l.reverse()
l

[[4, 6], 9, 4, 1]

In [270]:
l=[1,4,9,[4,6]]
l[::-1]

[[4, 6], 9, 4, 1]

[::-1] --->in python,String reverse  list reverse are both are giving same outputs

In [271]:
i=(1,2,3,4)
str(i)[::-1]# for 'int',indexing is not there,so it is converted into string and apply reverse function and converted to int

')4 ,3 ,2 ,1('

# list.sort()
        used to sort items in a list either in ascending order or descending order
        by default,it sort in descending order
    NOTE: sort is applicable for either only alphabet or only numeric value

In [272]:
lst=[1,20,5,5,4.2]
lst.sort()        #ascending order
lst

[1, 4.2, 5, 5, 20]

In [273]:
lst=[1,20,5,5,4.2]
lst.sort(reverse=True)       # descending order
lst

[20, 5, 5, 4.2, 1]

In [274]:
l=['aef','b','a','f']
l.sort()
l

['a', 'aef', 'b', 'f']

In [275]:
lst=[1,20,'b',5,'a']       #sorting is not done between int and string
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [276]:
lst=[1,20,5,4.2]
print(sorted(lst))      # it will not store 
print(lst)

[1, 4.2, 5, 20]
[1, 20, 5, 4.2]

In [277]:
lst=[1,20,5,4.2]
lst.sort()             #ascending order
print(lst)

[1, 4.2, 5, 20]

    ### Difference between l.sort() and sorted(l)
    
           l.sort() is a method,after sorting(acsending order) the values of 'l' are stored in original 'l'
           
            sorted(l) is a function,after sorting the values are not stored in original 'l'

 ###  lst.count()
      frequency of value in a list

In [279]:
l=[1,2,3,1,1,0,3,4,2,5]
l.count(1)           # how many times the value is repeated

3

In [280]:
l.count(20)

0

In [281]:
l.count(2)

2

# difference between Shallow copy and Deep copy
                    SHALLOW COPY                                       DEEP COPY
    1. Values will be same,but object reference              1. values will be same with same object reference
        will be different in shallow copy  
    2. whatever the modifications done on copied one         2. whatever the modifications are done on copied one,
        not impact on original one                               it will impact on original one

    shallow copy

In [282]:
l1=[1,2,3]
l2=l1.copy()
l2.append(4)
print(l2)
print(l1)

[1, 2, 3, 4]
[1, 2, 3]

    Deep copy

In [283]:
l1=[1,2,3]
l2=l1
l2.append(4)
print(l2)
print(l1)

[1, 2, 3, 4]
[1, 2, 3, 4]

# difference between list and tuple
                      
                     list                                        tuple
        1.It contains multiple lines                        1.It contains multiple lines
        2.Items can be heterogenous                         2.Items are heterogenous
        3.Items in[]                                        3.Items in()
        4.List items are mutable                            4.Tuple items are immutable
        5.Nested list also possible                         5.Nested tuple also possible
        ex:mutable(modifications can be done)               ex:immutable(modifications are not done)
            add--->aappend,extend,insert                          if no more data is changed means then go for tuple
            remove--->remove,pop,del                           -->like list tuple do not add,remove ,replace methods
            replace--->var_name[]=value                              tuple have methods that only extracts the data

# TUPLES
    1.Tuple is similar to list except tuple are immutable which means we cannot change the elements of a tuple once assigned
    2.When we do not want to change the data overtime,tuple is prefered datatype
    3.Iteration over the elements of a tuple is faster compared to iteration over a list

Empty Tuple

In [284]:
tup1=()
print(tup1)
type(tup1)

()

tuple

In [285]:
tup2=tuple()
print(tup2)
type(tup2)

()

tuple

TUPLE IS HETEROGEOUS

In [286]:
t=(1,0.2,True,'new',[1,4])
t

(1, 0.2, True, 'new', [1, 4])

NESTED TUPLES

In [287]:
tup=('siva',25,25.0,True,[50,100],(99,22,33))      #[50,100] is tuple,individually 50,100 are list items
tup

('siva', 25, 25.0, True, [50, 100], (99, 22, 33))

In [288]:
tup=('siva',25,25.0,True,[50,100],(99,22,33))
len(tup)

6

TUPLE INDEXING

In [289]:
tup=('siva',25,25.0,True,[50.100],(99,22,33))
tup[0]

'siva'

In [290]:
tup[-1][2]

33

In [291]:
tup[-4][2]

TypeError: 'float' object is not subscriptable

TUPLE SLICING

In [292]:
tup[0:3]

('siva', 25, 25.0)

DELETE ENTIRE TUPLE

In [293]:
mytuple=(1,2,3)
del mytuple

TUPLES ARE IMMUTABLE

In [294]:
t=(1,2,3,4)
t[1]=40                 #tuples are immutable t[1]=40 cant be changed
print(t)

TypeError: 'tuple' object does not support item assignment

In [295]:
t=(1,2,3,4,5)
del t[0]             #tuple object doesn't support to delete the particular item

TypeError: 'tuple' object doesn't support item deletion

DELETE ONE ITEM IN TUPLE:
                        
                        FIRSTLY WE HAVE TO CONVERT INTO LIST AND THEN DELETE

In [296]:
t=(1,2,3,4,5)
a=list(t)
del a[0]
print(a)
t=tuple(a)
print(t)

[2, 3, 4, 5]
(2, 3, 4, 5)

CONVERT TUPLE TO LIST

        IF WE WANT TO MODIFY ITEM IN TUPLE--------------1.CONVERT THE TUPLE TO LIST
                                                        
                                                        2.DO THE MODIFICATION
                                                        
                                                        3.AGAIN CONVERT BACK INTO TUPLE

In [297]:
t=(1,2,3,4,5)
print(t)
print(id(t))
a=list(t)
del a[0]
t=tuple(a)
print(t)
print(id(t))

(1, 2, 3, 4, 5)

TypeError: 'int' object is not callable

# TUPLE METHODS
                             1.COUNT
                             2.INDEX
                             3.SORT

In [298]:
mytuple=('one','two','three','four','one','one','two','three')
mytuple

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

# tuple.count():
            number of items occured in the tuple

In [299]:
mytuple.count('one')

3

# tuple.index():
              shows the index of first item if the item repeated many times also

In [300]:
mytuple.index('one')

0

# sorting

In [301]:
mytuple=(43,67,99,12,6,90,67)
sorted(mytuple)

[6, 12, 43, 67, 67, 90, 99]

In [302]:
mytuple             # it will not effect the original tuple after sorting also,the original one is same

(43, 67, 99, 12, 6, 90, 67)

#   t.sort()   is a method
#   sorted(tuple) is a function

In [303]:
t=(1,2,3,[4,5],(6,7,8))
len(t)

5

In [304]:
t[-2].append(20)          # for t[-2]we can do   .append(),.sort(),.move(),.pop(),.ext()
t

(1, 2, 3, [4, 5, 20], (6, 7, 8))

In [305]:
t=(1,2,3,[4,5],(6,7,8))        #tuple item cant be changed
t[-2]=40

TypeError: 'tuple' object does not support item assignment

In [306]:
t=(1,2,3,[4,5],(6,7,8))
t[-2][0]=40                 # here list item in tuple are changed
t

(1, 2, 3, [40, 5], (6, 7, 8))

        # SETS                                                        # LIST AND TUPLE
    1.It stores multiple items but not in ordered                 1.It stores the items but in ordered
    2.{}                                                          2.[]   ()
    3.s={1,4,16,2}                                                3.l=[1,4,16,2]        t(0,90,1,16)
         it will store the values anyway                               it will store the values as it is
         i.e {1,2,4,16}or{1,16,2,4}                                       l=[1,4,16,2]   t=(0,90,1,16)
    4.no indexing/slicing        
    5.No duplicates are allowed
    6.No repetions of items

### SETS
     --> Sets can be used to perform mathematical set operations like UNION,INTERSECTION,SYMMETRIC DIFFERENCE etc
     --> A set is an Unordered collections of items
     --> A set is defined by values seperated by comma inside braces{}

In [310]:
s={10,30,20,40,5,'a',True}
print(s)

{True, 20, 5, 40, 'a', 10, 30}

# EVERY ELEMENT IS UNIQUE(NO DUPLICATE)

In [311]:
s={10,4,20,20,30,30,30,5}
print(s)

{4, 5, 20, 10, 30}

In [312]:
s={1,2,3}
s

{1, 2, 3}

In [313]:
s={3,2,1}
s

{1, 2, 3}

###  Set doesnot support indexing,because it is unordered collection of items

In [316]:
print(s[1])

TypeError: 'set' object is not subscriptable

Typecasting on sets

In [317]:
l=[1,2,3,1,2,3,1,2]
l=list(set(l))            # to remove the duplicates first list is converted into set and then converted to list
print(l)

[1, 2, 3]

# set methods
      set.add(): .add method add an element to the set.if the element already exist in the set,nothing will happen

In [318]:
s={1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

 if we want to add multiple items,we can use set.update()

# set.update():
                .update method updates the set with another set or any iterable

In [319]:
s1={1,2,3}
s2={4,5}
s1.update(s2)
print(s1)
s1.update(["a","b"])
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'b', 'a'}

# set.discard():
    .discard method removes the specified element from the set,if the element does not exist in the set nothing will happen

s={1,2,3}
s.discard(2)
print(s)

In [320]:
s={1,2,3}
s.discard(7)
print(s)

{1, 2, 3}

# set.remove():
     .remove method the specified element from the set.if the element doesnot exist in a set,a keyerror is raised

In [321]:
s={1,2,3}
s.remove(2)
print(s)

{1, 3}

In [322]:
s={1,2,3}
s.remove(7)
print(s)

KeyError: 7

Difference between s.discard() and s.remove()_______

             in s.discard(), if the element is available remove it
             
                 s.remove(), if the element is available remove it or else throw the error

### set.clear():
              .clear method removes all element from the set

In [323]:
s={1,2,3}
s.clear()        # all elements are aleared and the output is empty set i.e set()
print(s)

set()

In [324]:
s={1,5,2,3,6}
del s            # delete the variable,the entire object is deleted 
print(s)

NameError: name 's' is not defined

# set.copy():
         --> .copy method returns a shallow copy of the set
        ---> changes to the copied set doesnot affect the original set

In [325]:
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)
s2.add(4)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4}

# set.isdisjoint():
             .isdisjoint method returns True if two sets have no intersection,otherwise it returns False

In [326]:
s1={1,2,3}
s2={4,5,6}
s3={7,5,9}
s=s1.isdisjoint(s2)
print(s)
s=s2.isdisjoint(s3)
print(s)

True
False

# issubset():
          issubset method returns True if all elements of first set are available in second set,otherwise it returns false

In [327]:
s1={3,4,5}
s2={3,4,5,6}
s=s1.issubset(s2)
print(s)
s=s2.issubset(s1)
print(s)

True
False

# issuperset():
        returns true if all elements of second set are available in first set,otherwise it returns false

In [328]:
s1={3,4,5}
s2={3,4,5,6}
s=s1.issuperset(s2)
print(s)
s=s2.issuperset(s1)
print(s)

False
True

# Set operations

 # set.union:
          returns a new set with elements from both sets

In [329]:
setA={1,2,3}
setB={2,3,4}
setA.union(setB)

{1, 2, 3, 4}

# set.intersection():
                returns a new set with elements that are common to all sets

In [330]:
setA={1,2,3}
setB={2,3,4}
setA.intersection(setB)

{2, 3}

# set.difference():
                returns a new set with elements in the set that are not in the other specified sets

In [331]:
setA={1,2,3}
setB={2,3,4}
print(setA-setB)
print(setB-setA)

{1}
{4}

# set.symmertrical_difference():
                returns a new set with element that are either of the sets but not in both
                (A union B)-(A intersection B )

In [332]:
setA={1,2,3}
setB={2,3,4}
setA.symmetric_difference(setB)

{1, 4}

# Dictionaries
            Dictionary is an unordered collection

# empty dictionary
             create an empty dictionary (two ways)
         empty_dict={}
         empty_dict=dict()

In [333]:
empty_dict

NameError: name 'empty_dict' is not defined

In python,dictionaries are defined with in braces{} with each item being key:value

keys can be of fundamental datatype,generally the keys are int or str

values can be of any datatype

empty dict---->{}
empty set-----> set()
 
     with items  ----->
                       set --->{1,2,3,4,5}
                       dict--->{'k':1,'j':4,'s':5}
                k:1,j:4,s:5 are items
                             in that k,j,s are keys
                                     1,4,5 are values

In [334]:
d={1}
type(d)

set

In [335]:
d={1:4}
type(d)

dict

In [336]:
d.keys()

dict_keys([1])

In [337]:
d.items()

dict_items([(1, 4)])

In [338]:
d.values()

dict_values([4])

Dictionary with multiple items

In [339]:
d={1:456,10.4:[3,9,15],'key3':(94,8,23),'key4':{'item1','item2','item3'}}
d

{1: 456,
 10.4: [3, 9, 15],
 'key3': (94, 8, 23),
 'key4': {'item1', 'item2', 'item3'}}

In [340]:
d.keys()

dict_keys([1, 10.4, 'key3', 'key4'])

In [341]:
d.values()

dict_values([456, [3, 9, 15], (94, 8, 23), {'item1', 'item2', 'item3'}])

In [342]:
len(d.values())

4

In [343]:
print(d.items())

dict_items([(1, 456), (10.4, [3, 9, 15]), ('key3', (94, 8, 23)), ('key4', {'item1', 'item2', 'item3'})])

Create a dictionary in two ways

In [344]:
family={'dad':'homer','mom':'merge','size':6}
family

{'dad': 'homer', 'mom': 'merge', 'size': 6}

In [345]:
family=dict(dad='homer',mom='merge',size=6)
family

{'dad': 'homer', 'mom': 'merge', 'size': 6}

similarly
       for list

In [346]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [347]:
l=list((1,2,3,4))
l

[1, 2, 3, 4]

for tuple

In [348]:
t=tuple((1,2,3,4))
t

(1, 2, 3, 4)

In [349]:
tup=(1,2,3,4)
tup

(1, 2, 3, 4)

for set

In [350]:
s=set((1,2,3,4))
s

{1, 2, 3, 4}

In [351]:
s={1,2,3,4}
s

{1, 2, 3, 4}

CONVERT A LIST OF TUPLES INTO A DICTIONARY

In [352]:
list_of_tuples=[('dad','homer'),('mom','marge'),('size',6)]
family=dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

# Nested Dictionary:
                  if atleast one value is dict,then it is called as nested dictionary

In [353]:
cars={'car1':1989,'car2':123,'car3':{1:3}}
print(cars)
len(cars)

{'car1': 1989, 'car2': 123, 'car3': {1: 3}}

3

In [354]:
cars[0]      # if we write the index number,it will throw errors,we have write the keyname in dict

KeyError: 0

In [355]:
cars['car1']

1989

In [356]:
cars['car2']

123

In [357]:
cars['car3']

{1: 3}

In [358]:
cars['car3'][1]

3

In [359]:
di={"s":[1,2,3,4]}
di

{'s': [1, 2, 3, 4]}

In [360]:
di["s"]

[1, 2, 3, 4]

In [361]:
di["s"][0]             # here,list is output for list, index number is accepted

1

In [362]:
marks={'history':45,'hindi':56}
marks

{'history': 45, 'hindi': 56}

 total no of items

In [363]:
len(marks)

2

# Dictionary Methods

# dict_items():
             .items() method returns a list of key_value pairs in the dictionary

In [364]:
marks={'history':45,'hindi':56}   #output is items are seperated based on the multiple tuples,where with in each tuple
marks.items()                     # one is key and one is value

dict_items([('history', 45), ('hindi', 56)])

In [365]:
marks={'history':[1,2,3],'hindi':56}
marks.items()

dict_items([('history', [1, 2, 3]), ('hindi', 56)])

# dict.keys():
              .keys() method return a list of keys in the dictionary

In [366]:
marks={'history':45,'hindi':56}
marks.keys()

dict_keys(['history', 'hindi'])

# dict.values():
             .values() method return a list of values in the dictionary

In [367]:
marks={'history':45,'hindi':56}
marks.values()

dict_values([45, 56])

# dict.pop():
           --->  .pop() method removes and return the values of the specified key
           --->  if the key doesnot exist,it raises a key error

In [368]:
marks={'history':45,'hindi':56}
marks.pop("history")
print(marks)

{'hindi': 56}

In [369]:
marks.pop("english")             # there is no english key

KeyError: 'english'

# dict.popitem():
            ---> .pop item() method removes and return the last inserted key_value pair in the dictionary
            ---> if the dictionary is empty,it raises a key error

In [370]:
marks={'history':45,'hindi':56}
marks.popitem()                 # whatever in the last,that will be removed default,the last one is removed
print(marks)

{'history': 45}

In [371]:
marks={'history':45,'hindi':56,'maths':98}
marks.popitem()
print(marks)

{'history': 45, 'hindi': 56}

# dict.clear():
            .clear() method removes all items from the dictionary

In [372]:
marks={'history':45,'hindi':56}
marks.clear()                   # by removing the items in the dict,the output is empty dictionary i.e {}
print(marks)

{}

# dict.copy():
        ----> .copy() method returns a shallow copy of the dictionary
        ---->  changes the copy of the dictionary do not affect the original dictionary

In [373]:
d={'history':45,'hindi':56}
a=d.copy()
print(d)
print(a)

{'history': 45, 'hindi': 56}
{'history': 45, 'hindi': 56}

### Difference between the == and is _________

          == compare the values within the object
          
           is compare the ids

In [374]:
d==a

True

In [375]:
d is a

False

# dict.get():
           ----> .get() method returns a value of the specified key
           ---->  if the key is not present in the dictionary,it will return "None"
           ---->  we can get the value by using another way also dict_name[key]

two options are ther to dict.get()

In [376]:
marks={'history':45,'hindi':56}
marks.get("history")

45

In [377]:
marks={'history':45,'hindi':56}
marks['history']

45

To add single item into a dictionary_______

In [378]:
marks={'history':45,'hindi':56}
marks['english']=47
print(marks)

{'history': 45, 'hindi': 56, 'english': 47}

In [379]:
marks={'history':45,'hindi':56}
marks.update({'maths':95}) 
print(marks)

{'history': 45, 'hindi': 56, 'maths': 95}

To add multiple items or single into a dictionary_____________

In [380]:
marks={'history':45,'hindi':56}
marks.update({'maths':95})
print(marks)
marks.update({'chemistry':89,'physics':98})
print(marks)

{'history': 45, 'hindi': 56, 'maths': 95}
{'history': 45, 'hindi': 56, 'maths': 95, 'chemistry': 89, 'physics': 98}

To replace value in dictionary

In [381]:
marks={'history':45,'hindi':56}
marks['hindi']=64
marks

{'history': 45, 'hindi': 64}

To replace key in dictionary

In [382]:
marks={'history':45,'hindi':56}
marks['maths']=marks.pop("hindi")
print(marks)

{'history': 45, 'maths': 56}

To delete item in dictionary

In [383]:
marks={'history':45,'hindi':56}
del marks['history']
print(marks)

{'hindi': 56}

# LOOPS 
     -->There may be a situation when you need to execute a block of code several number of items
     -->To iterate over items or elements in a given sequence like str,list,tup,set,or dict
     -->In general,statements are executed sequentially:
                           the first statement in a function is executed first,followed by second one and soon....

# Iteration or Loops:repeat action
    for loop---> iterates for all items present in iterating sequence
    while loop--> untill the condition satisfies

In [ ]:
difference between if and while

               if                                                           while
   
   1. check the condition for onetime                          1. check the condition for multiple times
   
   2. conditional statement                                    2. loop
  
   3. if condition satisfies,executes the block of code        3. if condition satisfies execute block of code,
        if condition is not satisfies,ignore the block               if condition is not satisfies ignore the block

# while loop:
              The while loop in python,is used to iterate over a block of code as long as the condition(test exp) is True
              
   while loop syntax_________-
                   whiletest_expression:body of while

while loop means check the condition and repeat the block of code

 In while loop,test expression is checked first,the body of the loop is entered only if the test_expression is checked 
again.This process continues until the test_expression evaluates to False

In python,the body of while loop is determined through indentation

Python interprets any non-zero value as True.
  None and '0' are interpreted as False

ex:

In [384]:
x=0
while x<=3:
    print(x)
    x=x+1

0
1
2
3

In [385]:
x=1
while x<=20:
    print("ds")
    x=x+1

ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds
ds

In [386]:
x=8
while x>=6:
    print(x)
    x=x-1

8
7
6

In [387]:
x=0
while x<5:
    x=x+3
print(x)

6

In [388]:
x=0
while x<5:
    x=x+3
    print(x)

3
6

In [389]:
# program to print 0 to 100 (inclusive) whole numbers
  
i=0
while i<=100:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

i=0
while i<=100:
    print(i,end=" ") #if we want get above output in horizontal,we have to add end=" "
    i=i+1

# Infinite loop
         while 0<=2:
         print("srk")  there is no loop,only condition 0<=2,the condition never fails,so it will print "srk" infinite times

 if we want to stop the infinite loop,two options are there_______1.click on the kernel
                                                                  
                                                                  2.break

# loop termination
     Break:when condition satisfies,it will stops the loop

 syntax is ________     while condition
                              _________
                              _________
                             
                             if condition:
                             
                                break

In [390]:
x=1
while True:
    print(x,"ds")
    if(x>=20):
        break
    x=x+1

1 ds
2 ds
3 ds
4 ds
5 ds
6 ds
7 ds
8 ds
9 ds
10 ds
11 ds
12 ds
13 ds
14 ds
15 ds
16 ds
17 ds
18 ds
19 ds
20 ds

In [391]:
x=0
while x<=6:
    print(x)
    if x==3:
        break
    x=x+1

0
1
2
3

Write a program for list of values,which are entered by user

In [392]:
l=[]
while True:
    num = input("enter the number")
    if num == '#':
        break
    i=int(num)
    l.append(i)
print(l)

enter the number4
enter the number#
[4]

In [393]:
l=[]
while True:
    num = input("enter the number")
    if num=='#':
        break
    i=float(num)
    l.append(i)
print(l)

enter the number8
enter the number#
[8.0]

Ask the user to enter the number and sum it

In [394]:
sum=0
while True:
    i=input()
    if i=='#':
        break
    sum=sum+int(i)
    print(sum)

6
6
8
14
#

Ask the user to enter the number and sum it until sum>100

In [1]:
sum=0
while True:
    i=input()
    sum=sum+int(i)
    if sum>100:   
        print("sum crossed 100")
        print("sum")
        break

56
90
sum crossed 100
sum

# remove()

In [3]:
l=[10,20,30,40,50,10,10,20]
l.remove(10)
l

[20, 30, 40, 50, 10, 10, 20]

In [4]:
x=1
while x<=len(l):
    l.remove(10)
    x=x+1

ValueError: list.remove(x): x not in list

# while loop with else
                  while condition
                  _______________
                  _______________
                  else
                       ___________
                       ___________

In [2]:
i=1
while i<=3:
    print(i)
    i=i+1
    if i==2:
        break
else:
    print("ds")

1

In [3]:
i=1
while i<=3:
    print(i)
    i=i+1
    if i==5:
        break
    else:
        print("ds")

1
ds
2
ds
3
ds

In [4]:
numbers=[1,2,3,4,5,6]
i=0
while i<=len(numbers):
    print(i)
    i=i+1
    if i==3:
        break
    else:
        print("item left in the list")

0
item left in the list
1
item left in the list
2

# Range()
         It generates the sequence of integers

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
range(0,10)

range(0, 10)

In [7]:
range(10)

range(0, 10)

In [11]:
list(range(1,10,2))             #increment of 2

[1, 3, 5, 7, 9]

In [12]:
list(range(1,10,-2))     # from 1 to 10 -ve direction is not possible,so it gives empty []

[]

In [13]:
list(range(10,1,-2))

[10, 8, 6, 4, 2]

# for loop()
              for each item,in the given sequence repeated the block of code
          syntax is :            
                          for item in sequence:
                          __________
                          __________

Difference between for and while

                    for                                             while
                    
    for item in sequence                                        while condition
        ______________                                             _________
        _______________                                            _________
   
   for each item in sequence,repeat                           till the condition satisfies,repeat 
      the block of code                                             block of code
   
   when all items are completed,the                           when condition fails,loop terminate                          
        loop terminates

In [16]:
l=[1,2,3,4]
for i in l:
    print(i,"ds")

1 ds
2 ds
3 ds
4 ds

In [17]:
x=1
while x<=4:
    print(x,"ds")
    x=x+1

1 ds
2 ds
3 ds
4 ds

Here,in for and while loop both are same answer but in while__ it works on condition
                                                        for___ it works on each item

Range() is a homogenous where it has multiple items,but everything are integers
list()  is a heterogenous where multiple items are of different datatype

In [18]:
l=[1,2,3,"a"]
for j in l:
    print("ds")

ds
ds
ds
ds

In [1]:
for i in range(1,5):
    if i==3:
        print("python")
    else:
        print("ds")

ds
ds
python
ds

 program for Multiplication Table

In [3]:
num=int(input("enter the number"))
for i in range(1,11):
    print(num,"*",i,"=",num*i)

enter the number125
125 * 1 = 125
125 * 2 = 250
125 * 3 = 375
125 * 4 = 500
125 * 5 = 625
125 * 6 = 750
125 * 7 = 875
125 * 8 = 1000
125 * 9 = 1125
125 * 10 = 1250

Total sum of phone numbers,if the answer is 2 digit number and again add untill u get single digit

In [395]:
num=input()
sum=0
for i in num:
    sum=sum+int(i)
    if sum>=10:
         j=str(num)
s=int(j[0])+int(j[1])
print(s)

123456789
3

Break()

In [396]:
for i in range(1,5):
    print("python")
    if i==3:
        print("ds")
        break

python
python
python
ds

In above,break will occur and it will terminate but if we want to continue means we have to apply continue____

In [13]:
for i in range(1,5):
    print("python")
    if i==3:
        print("ds")
        continue

python
python
python
ds
python

In [14]:
l=[]
for i in range(1,11):
    l.append(i)
    print(l)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
l=[1,2,3,4]
k=[]
for i in l:
    j=i+10
    k.append(j)
    print(k)

[11]
[11, 12]
[11, 12, 13]
[11, 12, 13, 14]

# Nested loop

In [17]:
for i in range(1,4):
    j=20
    k=40
    for l in range(1,3):
        print(j+k+l)

61
62
61
62
61
62

In [18]:
for i in range(1,4):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [1]:
for i in[2,4,9]:
    k=90
    j=40
    for z in range(4,5):
         j=90
print(i+j+k+z)

193

In [7]:
for i in[2,4,9]:
    k=90
    j=40
    for z in range(4,6):
        if z==4:
             break
print(j+k+i+z)

143

In [4]:
for i in [2,4,9]:
    k=90
    j=40
    for z in range(4,6):
        if z==5:
            break
    print(j+k+i+z)

137
139
144

# Functions

            Function is a group of related statements that perform a specific task
            
            A function is a set of statements that take inputs, do some specific computation and produces output
            
            It avoids repetition and makes code reusable
             
            If we use functions written by others in the form of library,it can be termed as library function

# Types of function

1.Inbuilt function          # by default,python has inbuilt function,everyone who arenusing python they have Inbuilt functions

2.User-defined function     #user created function according to his requirements

# Inbuilt function

In [8]:
a=10
print(a)

10

In [10]:
# abs()  ----->find the absolute value
abs(-10)

10

In [11]:
abs()        # one argument is missing

TypeError: abs() takes exactly one argument (0 given)

# User defined function

                Functions that we define ourselves to do certain task are referred as user defined function
                
              user defined function help to decompose a large decompose a large program into small segments which makes program easy to understand,maintain and debug
           
           If repeated code occurs in a program,function can be used to include those codes and execute when needed by calling that function
           
         program working on large project can divide the workload by making diferent functions

syntax is_______________
                          def function_name(parameters):
                         
                         " " "
                         Doc String
                          " " "
                          function body(statements)
                          return[expression]

1.Keyword "def" marks the start of function header

2.Parameters(arguments) through which we pass values to a function.these are optional 

3.A colon(:) to mark the end of function header

4.Doc string describe what the function does,this is optional

5."return" statement to return a value from the function,this is optional

# return

the return statement is used to exit a function and go back to place from where it was called

return statement can contain an expression which gets evaluated and value is returned

if there is no expression in the statement or the return statement itself is not present inside a function,then the 
function will return None object

# define a function

In [12]:
def print_text():
    print("this is text")

# calling the function

In [13]:
print_text()

this is text

In [14]:
def add(a,b):
    c=a+b
    return c

In [15]:
add(2,3)

5

In [16]:
add(2)

TypeError: add() missing 1 required positional argument: 'b'

In [17]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [18]:
add(5,6)

11

# define a function with argument

In [19]:
def print_this(x):
    print(x)

In [20]:
print_this(3)

3

In [21]:
print(print_this(3)) #here the output is 3 and none is for print i,e for the print again we r giving print

3
None

 if we want to store the value in a variable use return()

In [23]:
def add(a,b):
    c=a+b
    return c
add(2,3)

5

if we dont want to store the value in a variable go for print() option

In [32]:
def add(a,b):
    c=a+b
    print(c)
add(2,4)

6

define a function with argument and return value:

In [33]:
def square_this(x):
    return x**2
square_this(3)

9

In [3]:
def check_marks(y):
    if y>90:
        print("grade A")
    elif(y>70):
        print("grade B")
    else:
        print("grade F")
y=int(input("enter the marks"))
check_marks(y)

enter the marks98
grade A

In [5]:
 def add_list(l):
    '''
    this function returns by adding 10 to each item in the list
    '''
    k=[]
    for i in l:
        j=i+10
        k.append(j)
        print(k)

In [6]:
add_list([40,2,38,7])

[50]
[50, 12]
[50, 12, 48]
[50, 12, 48, 17]

return two values from a single function

In [7]:
def min_max(nums):
    return min(nums),max(nums)
min_max([1,2,3])

(1, 3)

if we want to store the value in a variable

In [8]:
a,b=min_max([1,2,3])
print(a)
print(b)

1
3

return values can be assigned into multiple variables using tuple unpacking

min_num,max_num=min_max(nums)

print(min_num)

print(max_num)

# Different types of arguments

Function with no arguments

In [9]:
def greet():          # defining a function
    print("hello","srk","good morning")
    
greet()        # calling a function

hello srk good morning

###  1. Positional Arguments
          
          the number of arguments while defining a function and calling a function should be same otherwise it throws error
          order is preserved
          
          its executes in same order

In [10]:
def greet(name,msg):
    print("hello",name,msg)
greet("srk","good morning")
greet("morning","srk")

hello srk good morning
hello morning srk

In [11]:
# suppose if we pass one argument
greet("morning")

TypeError: greet() missing 1 required positional argument: 'msg'

###  2.Default Arguments

           while creating a function,we are assigning a default value to an argument by using assignment operator(=)
           
           if you dont assign value for default arguments,it will automatically selects the default value
           
           if you assign the value for default argument,it will consider that value which you have assigned

In [16]:
def greet1(name,msg="good morning"):
    print("hello",name,msg)
greet1("srk","good night")
greet1("srk")

hello srk good night
hello srk good morning

### 3.Keyword Arguments

In [17]:
def greet(name,msg):
    print("hello",name,msg)
greet(msg="good morning",name="subha")
greet("subha","good morning")

hello subha good morning
hello subha good morning

####  4.Arbitary Arguments

          sometimes we dont know in advance the number of arguments that will be passed into a function.
          
      python allow us to handle this kind of situation through function calls with arbitary number of arguments

In [18]:
def greet(*n):
    for i in n:
        print("hello",i)
greet(1,2,3)

hello 1
hello 2
hello 3

# Recursive function or recursion
              A function can call other functions, it is even possible for the function to call itself.These type 
    of construct are termed as recursive function

In [5]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)

In [6]:
fact(5)

120

In [8]:
fact(12)

479001600

###  Anonymous(Lambda) function

              Primarily used to temporarily define a function for use by another function

define a function the "usual"way

In [397]:
def squared(x):
    return x**2

Define an identical function using Lambda

In [398]:
squared=lambda x:x**2

Sort a list of strings by the last letter

In [14]:
def last_letter(word):
    return word[-1]
simpsons=['homer','marge','bart']
sorted(simpsons,key=last_letter)

['marge', 'homer', 'bart']

In [15]:
sorted(simpsons,key=lambda word:word[-1])

['marge', 'homer', 'bart']

# Modules
       A group of functions,variables saved to apython file(.py) which is nothing but module

# Types of Modules

Inbuilt Module: 
               
               1.math
               2.Random

User defined Module:
       
        1.SRK module contains one variable and two functions
        2.If we want to use members of module in our program then we should import that module
        3.import module name

We can access members by using module name
  
    1.module name.variable()
    2.module name.function()

Inbuilt module:
    
       Working with math module:
                                 python provides inbuilt module math
                                this module define several functions which can be used for mathematical operations

In [17]:
import math
help(math)
math.pow(2,3)  #from math import pow

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

8.0

In [18]:
math.sqrt(4)    # from math import sqrt

2.0

Working with random modules
              
              the module defines several functions to generate random numbers
    we can use these functions while developing games,in cryptography and to generate random numberson fly for authetication

In [19]:
import random     # random function always generate same float value between 0 and 1
random.random()

0.5353588250701101

In [20]:
for i in range(5):
    print(random.random())

0.5064315549979141
0.9550209223159667
0.10534177085622165
0.4274973732538795
0.9466371157043291

randint() function:
    
         to generate random integer between2 given numbers(Inclusive)

In [21]:
random.randint(1,100)

43

In [23]:
for i in range(10):
    print(random.randint(1,100))

98
51
73
77
80
86
100
94
92
64

randrange()function:
    
           to generate random integer or integers in guven range

In [24]:
random.randrange(2,101)

59

choice() function:
          
        It won't return random number
        It will return a random object

In [25]:
list=["sunny","bunny","chinny"],"vinny"
random.choice(list)

'vinny'

# user defined module

import Srk

      this will work,only when we have used defined module in our working directory
      
      if the module is available in another location,then we have change for working directory